POSTFIX_myhostname={{ dolibarr_domain }}
# If you need to generate a list of sub/DOMAIN keys
# pass them as a whitespace separated string <DOMAIN>=<selector>
OPENDKIM_DOMAINS={{ dolibarr_domain }}=dolibarr

