version: "3.4"

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

services:
    db:
        image: mariadb:{{ mariadb_version }}
        restart: always
        networks:
            - dbnet
        environment:
            MYSQL_DATABASE: {{ maria_dolibarr_dbname }}
            MYSQL_USER: {{ maria_dolibarr_user }}
            MYSQL_PASSWORD: {{ maria_dolibarr_password }}
            MYSQL_ROOT_PASSWORD: {{ maria_root_password }}
        volumes:
            - db:/var/lib/mysql
        logging: *default-logging

    web:
        image: tuxgasy/dolibarr:{{ dolibbar_version }}
        restart: always
        environment:
            DOLI_ADMIN_LOGIN: {{ dolibarr_admin_user }}
            DOLI_ADMIN_PASSWORD: {{ dolibarr_admin_password }}
            DOLI_DB_HOST: db
            DOLI_DB_USER: {{ maria_dolibarr_user }}
            DOLI_DB_PASSWORD: {{ maria_dolibarr_password }}
            DOLI_DB_NAME: {{ maria_dolibarr_dbname }}
            DOLI_URL_ROOT: 'http://0.0.0.0'
            PHP_INI_DATE_TIMEZONE: 'Europe/Paris'
        networks:
            - web
            - dbnet
            - appnet
        expose:
            - 80
        volumes:
            - {{ dolibarr_data }}:/var/www/documents
        labels:
            - "traefik.backend={{ dolibarr_name }}-dolibarr"
            - "traefik.docker.network=web"
            - "traefik.frontend.rule=Host:{{ dolibarr_domain }}"
            - "traefik.enable=true"
            - "traefik.port=80"
        logging: *default-logging
    
    postfix:
        image: mwader/postfix-relay
        env_file:
            - .env
        volumes:
            - {{ compose_directory }}/postfix-volume/opendkim/keys:/etc/opendkim/keys
        labels:
            - "traefik.enable=false"
        restart: always
        networks:
            - appnet
        logging: *default-logging


networks:
    web:
        external: true
    dbnet:
    appnet:

volumes:
    db: