#!/bin/bash

cd "$(dirname "$0")"
echo "start backup dolibarr {{ dolibarr_name }}"
COMPOSE_INTERACTIVE_NO_CLI=1
/usr/local/bin/docker-compose exec -T db sh -c 'exec mysqldump --all-databases -uroot -p"{{ maria_root_password }}"' > {{ maria_dolibarr_backupfile }}
echo "backup dolibarr {{ dolibarr_name }} done"
